<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio website</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'assets/browser-fav.jpg' %}">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body onload="typeWriter()">
    <nav id="navbar">
        <ul class="nav-list">
            <li><a href=#welcome-section>About</a></li>
            <li><a href=#projects>Projects</a></li>
            <li><a href=#contacts>Contact</a></li>
        </ul>
    </nav>

    <!-- WELCOME SECTION -->
    <section id="welcome-section">
        <h1>Hey! I am Aldo</h1>
        <p id="profile-title"></p>

        <div id="at-work" style="display: flex; visibility: hidden;">
            <p style="margin-bottom: 30px;" class="profile-subtitle">Working with </p>
            <i style="font-size: 3rem; margin-right: 10px; margin-left: 10px;" class="devicon-java-plain-wordmark"></i>
            <i style="font-size: 3rem" class="devicon-spring-plain-wordmark colored"></i>
        </div>

        <div id="side" style="display: flex; visibility: hidden;">
            <p class="profile-subtitle">Building side projects in </p>
            <i style="font-size: 3rem; margin-right: 10px; margin-left: 10px;" class="devicon-python-plain-wordmark colored"></i>
            <i style="font-size: 3rem" class="devicon-django-plain colored"></i>
        </div>



        <div style="margin-top: 30px;" id="quick-contact">
            <a href='https://www.linkedin.com/in/aldo-telese/' target="_blank" class="button contact-details">
                <i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/aldotele' target="_blank" class="button contact-details" id="profile-link">
                <i class="fa fa-github"></i></a>
        </div>

        <div id="moreme-btn" onclick="">Random Fact</div>

        <div id="moreme-content">
            <p class="moreme-fact" id="fact1" style="display:none">I like foreign things: languages, ethnic food,
                <a class="aboutme-link" href="https://open.spotify.com/playlist/0q6c4fBoe3XFqkPgHo01KT?si=0162008028a84bb4">world music</a></p>
            <p class="moreme-fact" id="fact2" style="display:none">The only music I can listen to while programming is
                <a class="aboutme-link" href="https://www.youtube.com/watch?v=5qap5aO4i9A&ab_channel=LofiGirl">Lo-Fi</a></p>
            <p class="moreme-fact" id="fact3" style="display:none">I like American coffee, but please don't tell people (I am from the land of espresso)</p>
<!--            <p class="moreme-fact" id="fact4" style="display:none">I've eaten lots of frozen pizzas in my life (again, keep it quiet,-->
<!--            as I am from the land of pizza as well)</p>-->
            <p class="moreme-fact" id="fact5" style="display:none">My real name is Renato, but I'm known to everyone as Aldo</p>
            <p class="moreme-fact" id="fact6" style="display:none">I graduated in Economics, which has nothing to do with programming</p>
            <p class="moreme-fact" id="fact7" style="display:none">I wrote my first line of code at 25</p>
        </div>
    </section>

    <div id="separator"></div>

    <!-- PROJECTS SECTION -->
    <section id="projects">
        <h2 class="projects-header">Some of my projects</h2>
        <div class="projects-grid">

            <a class="project-tile" href="https://globon.vercel.app/" target="_blank">
                <h4 class="project-title">Globon - World Discovery</h4>
                <img class="project-image" src="{% static 'assets/globon-img.JPG' %}" alt="project">
                <p class="project-work">Django - Angular - PostgreSQL</p>
            </a>

            <a class="project-tile" href="https://themysteryword.vercel.app/" target="_blank">
                <h4 class="project-title">The Mystery Word</h4>
                <img class="project-image" src="{% static 'assets/the-mystery-word-square-img.JPG' %}" alt="project">
                <p class="project-work">Django - Bootstrap - JavaScript</p>
            </a>

            <a class="project-tile" href="https://pingem.vercel.app/" target="_blank">
                <h4 class="project-title">API Ping</h4>
                <img class="project-image" src="{% static 'assets/pingem-small-img.JPG' %}" alt="project">
                <p class="project-work">Django - Bootstrap</p>
            </a>

            <a id="hidden-tile-1" style="display:none" class="project-tile" href="https://github.com/aldotele/lotto_lottery/tree/learning_path_3_unittest" target="_blank">
                <h4 class="project-title">Lotto Lottery</h4>
                <img class="project-image" src="{% static 'assets/lotto-small-img.JPG' %}" alt="project">
                <p class="project-work">Python</p>
            </a>

            <a id="hidden-tile-2" style="display:none" class="project-tile" href="https://github.com/aldotele/multi_crawler" target="_blank">
                <h4 class="project-title">Web Crawler Multithread</h4>
                <img class="project-image" src="{% static 'assets/multicrawler-small-img.JPG' %}" alt="project">
                <p class="project-work">Python</p>
            </a>

            <a id="hidden-tile-3" style="display:none" class="project-tile" href="https://www.martelsrl.com" target="_blank">
                <h4 class="project-title">Food-Export Company</h4>
                <img class="project-image" src="{% static 'assets/martel-small-img.JPG' %}" alt="project">
                <p class="project-work">Squarespace CMS</p>
            </a>

            <a id="hidden-tile-4" style="display:none" class="project-tile" href="https://github.com/aldotele/numpy_tic-tac-toe" target="_blank">
                <h4 class="project-title">Tic Tac Toe</h4>
                <img class="project-image" src="{% static 'assets/tic-tac-toe-small-img.JPG' %}" alt="project">
                <p class="project-work">Python - Numpy</p>
            </a>

            <a id="hidden-tile-5" style="display:none" class="project-tile" href="https://github.com/aldotele/rock_paper_scissors" target="_blank">
                <h4 class="project-title">Rock Paper Scissors</h4>
                <img class="project-image" src="{% static 'assets/rock-paper-scissors-small-img.JPG' %}" alt="project">
                <p class="project-work">Python</p>
            </a>

            <a id="hidden-tile-6" style="display:none" class="project-tile" href="https://engdoc.netlify.app/" target="_blank">
                <h4 class="project-title">Technical Documentation</h4>
                <img class="project-image" src="{% static 'assets/tech-documentation-small-img.JPG' %}" alt="project">
                <p class="project-work">HTML5 & CSS3</p>
            </a>

            <a id="hidden-tile-7" style="display:none" class="project-tile" href="https://tdtranslator.vercel.app/" target="_blank">
                <h4 class="project-title">TD Translator</h4>
                <img class="project-image" src="{% static 'assets/td-translator-small-img.JPG' %}" alt="project">
                <p class="project-work">Django - HTML - CSS - JavaScript</p>
            </a>

            <a id="hidden-tile-8" style="display:none" class="project-tile" href="https://gracious-mcclintock-220460.netlify.app/index.html" target="_blank">
                <h4 class="project-title">Image Recognition WebApp</h4>
                <img class="project-image" src="{% static 'assets/image-recognition-small-img.JPG' %}" alt="project">
                <p class="project-work">Django - HTML - CSS - JavaScript</p>
            </a>

            <a id="hidden-tile-9" style="display:none" class="project-tile" href="https://browsergameteam2.netlify.app/" target="_blank">
                <h4 class="project-title">Space War Browser Game</h4>
                <img class="project-image" src="{% static 'assets/td-space-war-small-img.JPG' %}" alt="project">
                <p class="project-work">Django - HTML - CSS - JavaScript</p>
            </a>

            <a id="hidden-tile-10" style="display:none" class="project-tile" href="https://s1000.herokuapp.com/" target="_blank">
                <h4 class="project-title">Shorten 1000 Url shortener</h4>
                <img class="project-image" src="{% static 'assets/sh1000-small-img.JPG' %}" alt="project">
                <p class="project-work">Django - Bootstrap - JavaScript</p>
            </a>

        </div>

        <div id="more-btn" onclick="">
            See More
        </div>

        <div id="more-github-btn" style="display:none" onclick="">
            All projects on Github
        </div>

    </section>

    <div id="separator"></div>

    <!-- CONTACT SECTION -->
    <section id="contacts">
        <h1>Let's Get in Touch...</h1>
        <p>What are you up to?</p>
        <div id="contact-links">
            <a href='https://www.linkedin.com/in/aldo-telese/' target="_blank" class="button contact-details below">
                <i class="fa fa-linkedin"></i> LinkedIn
            </a>
            <a href='https://github.com/aldotele' target="_blank" class="button contact-details below" id="profile-link">
                <i class="fa fa-github"></i> Github
            </a>
            <a href='mailto:aldo.telese@hotmail.it' target="_blank" class="button contact-details below">
                <i class="fa fa-at"></i> E-mail
            </a>
        </div>
    </section>

    <!-- FOOTER  -->
    <footer>
        <p style="text-align:center;margin: 30px auto;">aldotelesedev | © Copyright 2023</p>
    </footer>

    <script>
        // profile title typewriter & stack
        var i = 0;
        var title = 'a jr Software Developer';
        var speed = 30; /* speed/duration of the effect in milliseconds */

        function typeWriter() {
          if (i < title.length) {
            document.getElementById("profile-title").innerHTML += title.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
          }
          showStack();
        }

        function showStack() {
            setTimeout(
                function() {
                    document.getElementById("at-work").style.visibility = "visible";
                }, 1000);

            setTimeout(
                function() {
                    document.getElementById("side").style.visibility = "visible";
                }, 2000);
        }

        // random facts
        var facts = document.getElementsByClassName("moreme-fact");
        document.getElementById("moreme-btn").addEventListener("click", function(event) {
            if (document.getElementById("moreme-btn").innerHTML == "Random Fact") {
                document.getElementById("moreme-btn").innerHTML = "Generate New";
            }
            var random = Math.floor(Math.random() * facts.length);

            Array.prototype.forEach.call(facts, function(fact) {
                fact.style.display = "none";
            });

            facts[random].style.display = "block";
        });

        // see more project event
        document.getElementById('more-btn').onclick = function () {
            document.getElementById('hidden-tile-1').style.display = "block";
            document.getElementById('hidden-tile-2').style.display = "block";
            document.getElementById('hidden-tile-3').style.display = "block";

            document.getElementById('more-btn').style.display = "none";
            document.getElementById('more-github-btn').style.display = "block";

        // github redirect event
        document.getElementById('more-github-btn').onclick = function () {
            let a= document.createElement('a');
            a.target= '_blank';
            a.href= 'https://github.com/aldotele?tab=repositories';
            a.click();
        }
    };;
    </script>

</body>
</html>